*{
	font-family: Nunito !important;
}

.icon{
	font-family: Material Icons !important;
}

.body {
	font-size: medium;
}

h1{
	color: #313943;
}
h2{
	color: #313943;
}
h3{
	color: #313943;
}
h4{
	color: #313943;
}
h5{
	color: #313943;
}
p{
	color: #313943;
}