<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" /> 
		<title>Prueba pie de pagina</title>
		<link rel="stylesheet" type="text/css" href="css/vue-material.css"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,700,400italic">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<style>
			a {
				float: right;
				margin: 0px 10px 0px 10px !important;
				color: #ffffff !important;
				text-decoration: underline !important;
			}
			.ultimolink {
				/*margin-right: 70px;*/
			}
			.md-bottom-bar {
				/*position:absolute;
				bottom:0;*/
				height: 100px;
				align-items: center;
			}
			#links {
				margin-right: 100px;
				position: absolute !important;
				right: 0;
			}
		</style>
	</head>
	<body>
		<div id="app">

<md-table v-once>
  <md-table-header>
    <md-table-row>
      <md-table-head>Dessert (100g serving)</md-table-head>
      <md-table-head md-numeric>Calories (g)</md-table-head>
      <md-table-head md-numeric>Fat (g)</md-table-head>
      <md-table-head md-numeric>Carbs (g)</md-table-head>
      <md-table-head md-numeric>Protein (g)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="(row, index) in 5" :key="index">
      <md-table-cell>Dessert Name</md-table-cell>
      <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>
		
<md-table v-once>
  <md-table-header>
    <md-table-row>
      <md-table-head>Dessert (100g serving)</md-table-head>
      <md-table-head md-numeric>Calories (g)</md-table-head>
      <md-table-head md-numeric>Fat (g)</md-table-head>
      <md-table-head md-numeric>Carbs (g)</md-table-head>
      <md-table-head md-numeric>Protein (g)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="(row, index) in 5" :key="index">
      <md-table-cell>Dessert Name</md-table-cell>
      <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>

<md-table v-once>
  <md-table-header>
    <md-table-row>
      <md-table-head>Dessert (100g serving)</md-table-head>
      <md-table-head md-numeric>Calories (g)</md-table-head>
      <md-table-head md-numeric>Fat (g)</md-table-head>
      <md-table-head md-numeric>Carbs (g)</md-table-head>
      <md-table-head md-numeric>Protein (g)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="(row, index) in 5" :key="index">
      <md-table-cell>Dessert Name</md-table-cell>
      <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>
<md-table v-once>
  <md-table-header>
    <md-table-row>
      <md-table-head>Dessert (100g serving)</md-table-head>
      <md-table-head md-numeric>Calories (g)</md-table-head>
      <md-table-head md-numeric>Fat (g)</md-table-head>
      <md-table-head md-numeric>Carbs (g)</md-table-head>
      <md-table-head md-numeric>Protein (g)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="(row, index) in 5" :key="index">
      <md-table-cell>Dessert Name</md-table-cell>
      <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>

<md-table v-once>
  <md-table-header>
    <md-table-row>
      <md-table-head>Dessert (100g serving)</md-table-head>
      <md-table-head md-numeric>Calories (g)</md-table-head>
      <md-table-head md-numeric>Fat (g)</md-table-head>
      <md-table-head md-numeric>Carbs (g)</md-table-head>
      <md-table-head md-numeric>Protein (g)</md-table-head>
    </md-table-row>
  </md-table-header>

  <md-table-body>
    <md-table-row v-for="(row, index) in 5" :key="index">
      <md-table-cell>Dessert Name</md-table-cell>
      <md-table-cell v-for="(col, index) in 4" :key="index" md-numeric>10</md-table-cell>
    </md-table-row>
  </md-table-body>
</md-table>
		
			<piedepagina></piedepagina>
		</div>
		
		<template id="piedepagina">
			<div>
				<md-bottom-bar>
					<div id="links">
					<a href="#">Preguntas frecuentes</a><a href="#">Contacto</a><a href="#">Política de privacidad</a><a class="ultimolink" href="#">Términos de servicio</a>
					</div>
				</md-bottom-bar>
			</div>
		</template>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="https://vuejs.org/js/vue.js"></script>
		<script src="https://unpkg.com/vue-material@0.7.4"></script>
		<script>
			Vue.use(VueMaterial)
			
			Vue.material.registerTheme({
				app: {
					primary: {
						color: 'blue-grey',
						hue: 900
					},
					background: {
						color: 'grey',
						hue: 900
					}
				},
				boton: {
					primary: 'white',
					accent: {
						color: 'red',
						hue: 'A700'
					},
					background: {
						color: 'blue-grey',
						hue: 900
					}
				}
			})
			
			Vue.material.setCurrentTheme('app')
			
			Vue.component('piedepagina',{
				template: '#piedepagina'
			})
			
			new Vue({
				el: '#app'
			})
		</script>
	</body>
</html>
<!-- 
Reajustar tiempos de Trello y adsignar responsables a las tarjetas
-->